.icon {
  width: 20%;
}

.image {
  width: 20%;
}

.image_adv {
  border: 2px solid #ff414f;
  border-radius: 100%;
  height: 75px;
}

.image_re {
  width: 60%;
  padding: 5px;
  float: right;
}
