@media (max-width: 1150px) {
  body {
    width: 80%;
  }
}

@media (max-width: 850px) {
  body {
    width: 90%;
  }
}

@media (max-width: 760px) {
  body {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .header, .intro {
    flex-direction: column;
    align-items: center;
  }

  .container, .footer, .content {
    justify-content: center;
  }
}
