* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 60%;
  font-family: "Trebuchet MS", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.position {
  padding-bottom: 70px;
  padding-top: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.intro {
  display: flex;
  justify-content: space-between;
  background-image: url("/image/dirt.jpg");
}

.centr {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxs {
  flex-basis: 150px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  flex-basis: 220px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.order {
  display: flex;
  line-height: 2.5;
  flex-direction: column;
  text-align: left;
}

.field {
  clear: both;
  line-height: 30px;
}

.button_left {
  width: 40%;
}
