* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  /*background-color: #c4fcef;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.centro {
  /*background: #c4fcef;*/
  border: 6px double black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
}

.block1 {
  display: inline-block;
  width: 150px;
  padding: 10px;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.block3 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer {
  margin-top: auto;
  padding: 20px;
}

.contact {
  text-align: center;
}

.bord {

}
