* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  /*background-color: #9dc3cc;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.centro {
  background: white;
  border: 6px double black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*align-items: center;*/
  padding: 100px;
}

.block1 {
  display: inline-block;
  width: 150px;
  padding: 10px;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  /*border: #3b2751 solid;*/
}

.reviews {
  display: flex;
  justify-content: space-around;
}

.block2 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer {
  margin-top: auto;
  padding: 50px;
}

.bord {

}
